*
	margin 0
	padding 0 
	box-sizing border-box

body
	font-family 'PT Sans', sans-serif
	font-size 17px
	line-height 26px
	font-weight 400
	background-color #060606

h1
	margin 0

li
	list-style none
	outline none

img 
	max-width 100%

a
	text-decoration none

.wrapper
	margin 0 auto
	padding 0 25px
	max-width 1030px

.general-content
	z-index 0
	position relative
	min-height 700px
	background url('../img/bg.png') center no-repeat
	background-size contain
  
.bg
	z-index -1
	position absolute
	top	45px
	left 50%
	width 506px
	height 704px
	transform translateX(-50%)

	img
		object-fit cover

.logo-container
	padding-bottom 15px
	display flex
	align-items flex-end
	min-height 85px

.logo
	display flex
	align-items center
	height 55px
	cursor pointer

	&-img
		width 43px
		height 50px

	&-name
		width 200px
		height 44px

	&-img + &-name
		margin-left 14px

.logo + .advantages
	margin-left 80px

.advantages
	padding-bottom 6px
	display flex

	&__item
		display flex
		height 37px
		font-size 18px
		line-height 24px
		color #ededed

		& + &
			margin-left 30px

	&__percent
		margin-right 8px
		font-size 24px
		font-weight bold

	&__img
		height 100%

		&--nature
			width 29px

		&--like
			width 42px

	&__img + &__text
		margin-left 10px

	&__text
		display flex
		align-items center

		span
			display block
			vertical-align bottom

.logo-container + .main-heading
	margin-top 20px

.main-heading
	font-family 'Roboto Condensed', sans-serif
	font-size 60px
	line-height 60px
	font-weight bold
	color transparent
	text-transform uppercase
	text-align center
	background linear-gradient(to right, #f0e394, #b49b52)
	-webkit-background-clip text

.main-heading + .main
	margin-top 25px

.main
	display flex

	&-col
		max-width 340px

		&__discount
			margin-bottom 10px
			display flex
			justify-content center

			img 
				object-fit contain

		&__info
			font-family 'PT Sans Narrow', sans-serif
			font-size 19px
			text-align center
			color #fff

		&--bottom
			padding-bottom 50px
			display flex
			flex-direction column
			justify-content flex-end
			transform translateX(22px)

		&__subtitle
			padding-right 20px
			font-size 22px
			font-weight 500
			color #fff

		&__list + &__product
			margin-top 15px

		&__product
			line-height 0

			img
				max-width 386px
				object-fit cover

		&__item
			position relative

			&--line

				&::after
					content ''
					position absolute
					top -85px
					left 130px
					width 1px
					height 250px
					background linear-gradient(rgba(85, 85, 85, 0.1), #555555, rgba(85, 85, 85, 0.1))
					transform rotate(90deg)

		&__advantage
			position relative
			padding-left 40px
			font-size 16px
			line-height 40px
			color #e7e7e7

			&::before
				content ''
				position absolute
				top 7px
				left 0
				width 24px
				height 24px
				border 1px solid #a16c49
				border-radius 50%
				background-color #c33814

			&::after
				content ''
				position absolute
				top 17px
				left 13px
				width 9px
				height 6px
				border 3px solid #e7e7e7
				border-width 0 0 3px 3px
				transform translate(-50%, -50%) rotate(-45deg)

	&-amount
		padding-left 35px
		display flex
		font-family 'PT Sans Narrow', sans-serif
		
		&__number
			position relative
			width 50px
			height 54px
			font-size 50px
			font-weight bold
			text-align center
			line-height 54px
			background-color #f6f6f6
			border-radius 5px

			&::after
				content ''
				position absolute
				top 50%
				left 50%
				width 48px
				height 1px
				background-color #cecece
				transform translate(-50%, -50%)

			& + &
				margin-left 4px

			&--inactive
				opacity 0.7

		&__number + &__auxiliary
			margin-left 10px

		&__auxiliary
			position relative
			padding 0 4px 15px 15px
			width 122px
			height 54px
			font-size 19px
			line-height 19px
			color #fff
			border-radius 5px
			background-color rgba(0, 0, 0, 0.5)
			transform translateY(10px)

			&::before
				content '*'
				position absolute
				top 0
				left 7px

	&-form
		position relative
		padding 36px
		width 362px
		height 482px
		font-family 'PT Sans Narrow', sans-serif
		background url('../img/form.png') center no-repeat
		background-size cover

		&__shine
			position absolute
			top 25px
			left 45px
			width 115px
			height 21px
			background url('../img/shine.png') center no-repeat

		&__container
			margin-top 20px
			padding 0 18px

		&__button
			position relative

			&::after
				content ''
				position absolute
				top 50%
				left 23px
				width 8px
				height 8px
				border 2px solid #fff
				border-width 0 2px 2px 0
				transform translate(-50%, -50%) rotate(-45deg)

			input
				width 255px
				height 60px
				color #ffffff
				font-family 'PT Sans Narrow', sans-serif
				font-size 22px
				font-weight bold
				background linear-gradient(to top, #d84017, #f94a1b)
				cursor pointer
				outline none
				border-radius 5px
				border 0px solid #fff
				border-left 50px solid #b13412
				box-shadow 10px 10px 25px 2px rgba(254, 222, 214, 1)
				text-transform uppercase

		&__field
			padding-left 12px
			width 255px
			height 55px
			font-size 14px
			border 1px solid #e1e1e1
			border-radius 7px
			outline none

			& + &
				margin-top 20px

			& + .main-form__button
				margin-top 25px
		
		&__secure
			position relative
			margin-top 17px
			padding-left 33px
			display block
			font-size 15px

			img
				content ''
				position absolute
				top 3px 
				left 9px

	&-price
		display flex
		height 117px

		&__full
			position relative
			width 50%
			color #7f5c53

			&::after
				content ''
				position absolute
				top 70px
				left 25px
				width 86px
				height 3px
				background-color #7f5c53

		&__container
			padding 18px 0 0 24px
			display block
			font-size 18px

		&__text
			padding-bottom 8px
			display block
			font-size 18px

		&__discount
			width 50%
			color #fff

		&__value
			font-size 48px

		&__currency
			font-size 24px
		
		&--bold
			font-weight 700

.problems
	margin-bottom 67px

	&-container
		padding-top 70px
		display flex
		flex-direction column
		align-items center
		width 100%
		min-height 452px
		background url('../img/bg2.png') center no-repeat
		background-size cover

	&__subtitle
		margin-top 15px
		font-size 22px
		text-align center
		color #fff

	&__questions
		margin-top 20px
		padding-top 30px
		display flex
		flex-direction column
		align-items center
		width 640px
		min-height 260px
		border-radius 10px
		background-color #fff

	&__ask
		display flex
		font-weight 700

	&__text
		margin-left 12px
		font-size 24px
		line-height 60px
		text-transform uppercase

	&__counter
		width 60px
		height 60px
		font-size 30px
		text-align center
		line-height 60px
		background-color #e5e5e5
		border-radius 50px

	&__buttons
		margin-top 40px
		display flex
	
	&__btn
		z-index 9
		width 250px
		height 80px
		font-family 'PT Sans', sans-serif
		font-size 24px
		font-weight 700
		color #fff
		background-color #fc481a
		border-radius 10px
		border none
		cursor pointer
		outline none
		text-transform uppercase

	&__inner
		position relative
		overflow hidden
		border-radius 10px

		&:hover
			background-color #fff
			opacity 0.8
	
		& + &
			margin-left 20px

		&::after 
			content ''
			position absolute
			top -801px 
			left -300px
			width 850px
			height 850px
			border-radius 50%
			background-color #ffffff
			opacity 0.1
			cursor pointer

.secondary-header
	font-family 'PT Sans Narrow', sans-serif
	font-size 48px
	line-height 52px
	font-weight bold
	text-align center
	color #fff
	text-transform uppercase

	&__color
		color #fc481a

	&__font
		font-weight 400

.description
	padding-bottom 55px

	&-container
		padding 30px 0 30px 40px
		width 100%
		min-height 392px
		background url('../img/bg3.png') center no-repeat
		background-size cover
		border-radius 10px

	&__wrapper
		max-width 555px

	.secondary-header
		text-align left
		color #000

	&__text
		margin-top 25px

		span
			font-weight bold
			text-transform uppercase

.facts
	position relative
	min-height 700px

	&-bg
		z-index -1
		position absolute
		top 50%
		left 50%
		width 781px
		height 416px
		transform translate(-72%, -8%)

		img
			line-height 0
			object-fit cover

	.secondary-header
		margin-bottom 30px

	&-container
		position relative
		display flex
		justify-content flex-end
		min-height 565px

	&__product
		position absolute
		top 62px
		left -71px
		width 441px
		height 525px

		img
			line-height 0
			object-fit cover

	&-list
		display flex
		flex-wrap wrap
		width 100%
		max-width 660px

		&__item
			position relative
			margin 10px
			width 200px
			height 250px
		
		&__text
			position absolute
			bottom 0
			left 0
			padding 20px 30px 5px
			width 200px
			height 80px
			display block
			font-size 16px
			line-height 18px
			font-weight 700
			text-align center
			color #0b0b0b

.opinion
	margin-bottom 20px

	&-container
		position relative
		padding 30px 40px
		width 100%
		min-height 443px
		font-size 16px
		border-radius 10px
		background url('../img/bg5.png') center no-repeat
		background-size cover
		overflow hidden

	.secondary-header
		margin-bottom 20px
		text-align left
		color #000

	&-wrapper
		max-width 565px

	&__paragraph
		margin-top 10px

	&-doctor
		position absolute
		right -28px
		bottom -16px

	&__author
		position relative
		margin-top 25px
		font-weight bold
		font-style italic

	&__signature
		position absolute
		bottom -13px
		right 60px
		
@media screen and (max-width: 1024px)

	.advantages
		&__percent
			font-size 20px

		&__item
			font-size 16px

	.logo + .advantages
		margin-left 50px

	.logo-container + .main-heading
		margin-top 5px

	.main
		flex-wrap wrap
		justify-content space-around

		&-heading
			font-size 52px
			line-height 52px

		&-col--bottom
			order 1
			padding-bottom 0
			padding-top 30px
			width 100%

		&-col--bg
			background-color rgba(0, 0, 0, 0.5)

	.description

		&-container
			padding 15px 0 15px 25px

		&__wrapper
			max-width 460px

		&__text
			padding-right 5px

	.secondary-header
		font-size 40px
		line-height 44px

	.facts

		&-container
			flex-direction column
			align-items center

		&__product
			position static
			width 100%
			max-width 300px
			height auto

		&-bg
			top 28%
			max-width 100%
			transform translate(-50%, -50%)

	.opinion

		&-container
			margin-top 15px
			padding 15px 20px

		&-wrapper
			max-width 63%

		&-doctor
			bottom -22px
			right -20px
			width 308px
			height 371px

			img
				line-height 0

		&__author
			margin-top 15px
		
		&__signature
			bottom -8px
			right 0
			width 185px - 30%
			height 64px - 30%

@media screen and (max-width: 768px)

	.wrapper
		padding 0 15px

	.logo

		&-container
			align-items center
			justify-content space-between
			padding-top 10px
			padding-bottom 0

		&-img
			width 43px - 30%
			height 50px - 30%

		&-name
			width 200px - 30%
			height 44px - 30%

	.advantages
		flex-direction column
		padding-bottom 10px

		& &__text--indent
			margin-left 20px

		&__item + &__item
			margin-left 0

		&__img
			display flex
			align-items center
			height auto 

			&--nature
				width 29px - 30%

			&--like
				width 42px - 30%

	.facts

		.secondary-header
			margin-bottom 5px
			min-height 132px

		&__product
			max-width 250px

		&-list
			justify-content center

	.problems
		&__questions
			padding-top 10px
			padding-bottom 40px
			max-width 100%
			min-height auto

		&-container
			min-height 380px
			
		&__buttons
			margin-top 20px

		&__inner + &__inner
			margin-left 10px
		
		&__inner::after
			top -817px
			left -319px

		&__btn
			width 250px - 40px
			height 80px - 30px
			font-size 20px

	.bg
		max-width 100%

	.main
		flex-wrap nowrap 
		flex-direction column
		align-items center

		&-heading
			font-size 45px
			line-height 45px

			& + .main
				margin-top 0
		
		&-col
			margin-top 40px

			&--bottom
				transform translateX(0)

	.description__wrapper
		max-width 100%

	.description-container
		padding 15px
		min-height auto
		background-image none
		background-color #fff

@media screen and (max-width: 710px)

	.opinion-wrapper
		max-width 100%

	.opinion-doctor
		position static
		display flex
		justify-content flex-end
		width 100%
		height auto

		img
			width 308px - 25%
			height 371px - 25%

@media screen and (max-width: 560px)

	.facts__product
		max-width 200px

	.opinion-doctor
		justify-content center

@media screen and (max-width: 480px)

	.secondary-header
		font-size 36px
		line-height 40px

	.wrapper
		padding 0 10px

	.logo-container
		flex-direction column

	.logo + .advantages
		margin-left 0

	.main-col
		display flex
		flex-direction column
		justify-content center
		max-width 300px
		overflow hidden
		
		&__subtitle
			padding 0 5px

		&__product img
			max-width 300px

		&--bottom
			padding-top 0

		&__discount img
			width 250px

	.general-content
		background none

	.main-heading
		background linear-gradient(to right, #e4c97a, #e4c97a)
		-webkit-background-clip text

	.description-container
		margin -10px
		padding 15px
		width 100vw
		border-radius 0

	.bg img
		opacity 0.6

	.main-amount
		padding-left 0

	.main-form
		transform translateX(-31px)

	.problems

		&__counter
			width 50px
			height 50px
			font-size 25px
			line-height 50px

		&-container
			padding-top 40px
			background none

		&__text
			line-height 50px
			text-align center

		&__ask
			flex-direction column
			width 100%

		&__questions
			padding 5px 5px 40px

		&__buttons
			flex-direction column
			align-items center

		&__inner + &__inner
			margin 20px 0 0
			
	.facts

		&-list
			flex-direction column
			align-items center
			flex-wrap nowrap
			padding-bottom 15px

		&__product
			max-width 150px

		&-bg
			top 18%

		& .secondary-header
			margin-bottom 50px

	.opinion
		margin-bottom 0

		&-container
			margin 0 -10px
			padding 15px
			width 100vw
			background #fff
			border-radius 0

		&-doctor
			margin-top 30px

		&__signature
			bottom -45px

@media screen and (max-width: 420px)

	.facts-bg
		top 20.5%